<!DOCTYPE html>
<html>
<body>

<h1>Complimenti! Hai trovato un Easter Egg!</h1>
<p>Vuoi provare a creare il tuo sito matrimoniale come questo?</p>
<p>Visita il mio profilo Github per scaricare:
    <ul>
        <li>Pagine HTML</li>
        <li>CSS files</li>
        <li>Codice Python per gestore il sito</li>
    </ul>
</p>
<p>
    Il codice e' pronto all'uso. L'unica cosa da fare e' cambiare le immagini e giocare un po' con le loro dimensioni.
</p>
<p>Se ti serve una mano per capire come installare il progetto e caricarlo
    su un server contattami a <a href="mailto:federicogentile90@gmail.com">federicogentile90@gmail.com</a>.
</p>
<p>
    Spero che ti piaccia programmare in Python e che tu sappia usare la libreria Flask.
    In oltre spero che tu sappia usare CSS e JQurey meglio di me cosi' mi puoi aiutare a fare il 
    refactoring del codice facendo un fork dal mio <i>master branch</i>. 
</p>
<h3>Note</h3>
<ul>
    <li>Il codice e' estremamente scritto male. Spero in futuro di riordinarlo e renderlo comprensibile.</li>
    <li>Le immagini utilizzate sono completamente random.</li>
</ul> 
<p>
    <img src="{{ url_for('static', filename='images/enjoy.gif') }}" alt="enjoy" style="width:75%">

</p>
</body>
</html>